<header class="masthead d-flex">
    <div class="container text-center my-auto">
      <img class="logo" alt="Logo" src="{{ "/assets/img/castleConstruction-logo.svg" | prepend: site.baseurl }}" />
      <p></p>
      <br>
      <h4 class="description ">Home renovation and construction services</h4>
      <br>
        <!-- <h3 class="mb-5">
          <em>Home renovation services</em>
        </h3> -->
        <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">How can we help?</a> -->
      <div class="social-icons">
        <!-- <div class="container"> -->
          <ul class="list-inline mb-5">
            <li class="list-inline-item">
              <a class="social-link mr-3" href="tel:{{ site.phone }}">
                <i class="fas fa-phone"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="social-link mr-3" href="mailto:{{ site.email }}">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-link mr-3" href="https://goo.gl/maps/EyGuktY3ogPCULKk7">
                <i class="fas fa-map-marker-alt"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-link mr-3" href="https://www.facebook.com/castleconstrucction/">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
          </ul>
        <!-- </div> -->
      </div>
        <!-- <social class="icons text-center">
          <li class="list-inline-item">
            <a class="social-link js-scroll-trigger rounded-circle text-white mr-3" href="#about">
              <i class="fas fa-chevron-down" style="color:black;"></i>
            </a>
          </li>
        </social> -->

    </div>
    <div class="overlay"></div>
</header>